<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/test.css" />
        <title>Texas Hold'em Poker</title>
    </head>
    <body>
        <h1>Texas Hold'em Poker</h1>
        <p>Welcome to Texas Hold'em Poker!</p>

        <% if (currentUserAge) { %>
        <p><a href="/lobby">Go to lobby</a></p>
        <form action="/logout" method="POST">
            <button type="submit">Log Out</button>
        </form>
        <% } else { %>
        <p><a href="/login">Log in</a></p>
        <p><a href="/signup">Sign up</a></p>
        <% } %>
    </body>
</html>

